*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    color: rgb(144, 144, 144);
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
    background-color: #f3f3f3;
}

.f-fild{
    padding: 23px;
    border: 10px solid rgb(209, 215, 219);
    border-radius: 4px;
} 
.labelText{
 margin-bottom: 10px;
 width: 100%;
}
.txtArea{
    border-color: rgb(209, 215, 219);
    width: 100%;
    outline: none;
    margin-top: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(144, 144, 144);
}
.checkText{
    border-color: rgb(209, 215, 219);
    margin-bottom: 10px;

}
.InputText{
    color: rgb(144, 144, 144);
    width: 100%;
    padding: 10px;
    /* border: 3px solid #555; */
    border-color: rgb(209, 215, 219); 
    border-top: none;
    border-left: none ;
    border-right: none;
    margin-bottom: 10px;
    outline: none;
}

::placeholder{
    text-align: right;
}

.titleText{
    /* width: 100%; */
    text-align: center;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnForm {
    border: none;
    background-color: rgb(209, 215, 219);
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: rgb(66, 72, 77);
    margin-top: 2%;
    /* margin-left: 23%; */
    border-radius: 4px;
}
.divBtn{
    /* text-align: center; */
}
.codText{
    color: rgb(144, 144, 144);
    outline: none;
    text-align: center;
    width: 50%;
    border: solid ;
    border-color: rgb(209, 215, 219);
    padding: 10px;
}
.divCod{
    padding: 10px;
}